<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
    body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ekel89NZaqWXsCcKUpProDoH"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script src="js/esl.js" type="text/javascript"></script>
    <script language='javascript' src="graph_data.js"></script> 
    <script language='javascript' src='chart.js'></script>
    <title>地图展示</title>
</head>

<body>
    <div id="allmap"></div>
</body>
</html>
<script type="text/javascript" language="javascript">
// weather
    function drawWeather(){
        require.config({
            paths: {
                echarts: './js/echarts' //echarts.js的路径
            }
        });
        require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        weatherDrawEChart
        );
    }

    //渲染ECharts图表
    function weatherDrawEChart(ec) {
        var chartContainer = document.getElementById("weather");
        var myChart = ec.init(chartContainer);
        myChart.setOption({
            title: {
                text: "气象站点历史信息", 
                x: "center",
                subtext: "From: SOA group 3",
                textStyle: {
                    fontSize:24
                },
                subtextStyle: {
                    fontSize:12,
                    color:"red"
                }
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['污染程度'], //与series保持一致
            y:"bottom"
        },
        toolbox: {
            show: true,
            feature: {
                mark: false,
                dataView: { readOnly: false },
                magicType: ['line', 'bar'],
                restore: true,
                saveAsImage: true
            }
        },
        calculable: true,
        xAxis: [
                {
                    type: 'category',
                    name: "日期",
                    data: function(){
                        var today = new Date();
                        var data_length = points.length;
                        var list = [];
                        for(var i=0; i<data_length; i++){
                            var d = new Date(today - 24*60*60*1000*i);
                            list.push(d.getDate());
                        }
                    return list;
                    }()
                }
            ],
        yAxis: [
                {
                    type: 'value',
                    splitArea: { show: true },
                    name:"数值"
                }
            ],
        series: [
                {
                    name: '污染程度',
                    type: 'line',
                    data: function(){
                        var data_length = points.length;
                        var list = [];
                        for(var i=0; i<data_length; i++){
                            list.push(points[i][globalIterator].count);
                        }
                        return list;
                    }()
                }
            ]
    });
    }


// pollution
    function drawPollution(){
        require.config({
            paths: {
                echarts: './js/echarts' //echarts.js的路径
            }
        });
        require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        pollutionDrawEChart
        );
    }

    //渲染ECharts图表
    function pollutionDrawEChart(ec) {
        var chartContainer = document.getElementById("pollution");
        var myChart = ec.init(chartContainer);
        myChart.setOption({
            title: {
                text: "气象站点历史信息", 
                x: "center",
                subtext: "From: SOA group 3",
                textStyle: {
                    fontSize:24
                },
                subtextStyle: {
                    fontSize:12,
                    color:"red"
                }
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['污染程度'], //与series保持一致
            y:"bottom"
        },
        toolbox: {
            show: true,
            feature: {
                mark: false,
                dataView: { readOnly: false },
                magicType: ['line', 'bar'],
                restore: true,
                saveAsImage: true
            }
        },
        calculable: true,
        xAxis: [
                {
                    type: 'category',
                    name: "日期",
                    data: function(){
                        var today = new Date();
                        var data_length = points.length;
                        var list = [];
                        for(var i=0; i<data_length; i++){
                            var d = new Date(today - 24*60*60*1000*i);
                            list.push(d.getDate());
                        }
                    return list;
                    }()
                }
            ],
        yAxis: [
                {
                    type: 'value',
                    splitArea: { show: true },
                    name:"数值"
                }
            ],
        series: [
                {
                    name: '污染程度',
                    type: 'line',
                    data: function(){
                        var data_length = points.length;
                        var list = [];
                        for(var i=0; i<data_length; i++){
                            list.push(points[i][globalIterator].count);
                        }
                        return list;
                    }()
                }
            ]
    });
    }


// temperature
    function drawTemperature(){
        require.config({
            paths: {
                echarts: './js/echarts' //echarts.js的路径
            }
        });
        require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        temperatureDrawEChart
        );
    }

    //渲染ECharts图表
    function temperatureDrawEChart(ec) {
        var chartContainer = document.getElementById("temperature");
        var myChart = ec.init(chartContainer);
        myChart.setOption({
            title: {
                text: "气象站点历史信息", 
                x: "center",
                subtext: "From: SOA group 3",
                textStyle: {
                    fontSize:24
                },
                subtextStyle: {
                    fontSize:12,
                    color:"red"
                }
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['污染程度'], //与series保持一致
            y:"bottom"
        },
        toolbox: {
            show: true,
            feature: {
                mark: false,
                dataView: { readOnly: false },
                magicType: ['line', 'bar'],
                restore: true,
                saveAsImage: true
            }
        },
        calculable: true,
        xAxis: [
                {
                    type: 'category',
                    name: "日期",
                    data: function(){
                        var today = new Date();
                        var data_length = points.length;
                        var list = [];
                        for(var i=0; i<data_length; i++){
                            var d = new Date(today - 24*60*60*1000*i);
                            list.push(d.getDate());
                        }
                    return list;
                    }()
                }
            ],
        yAxis: [
                {
                    type: 'value',
                    splitArea: { show: true },
                    name:"数值"
                }
            ],
        series: [
                {
                    name: '污染程度',
                    type: 'line',
                    data: function(){
                        var data_length = points.length;
                        var list = [];
                        for(var i=0; i<data_length; i++){
                            list.push(points[i][globalIterator].count);
                        }
                        return list;
                    }()
                }
            ]
    });
    }
</script>

<script type="text/javascript" language="javascript">
    function weather(){
        var sContent =
            "<div id=\"weather\" style=\"height: 400px; width:800px; border:1px solid #ccc; padding: 10px;\"></div>";
        var infoWindow = new BMap.InfoWindow(sContent);
        map.openInfoWindow(infoWindow, globalPoint);
        drawWeather();
    }

    function pollution(){
        var sContent =
            "<div id=\"pollution\" style=\"height: 400px; width:800px; border:1px solid #ccc; padding: 10px;\"></div>";
        var infoWindow = new BMap.InfoWindow(sContent);
        map.openInfoWindow(infoWindow, globalPoint);
        drawPollution();
    }

    function temperature(){
        var sContent =
            "<div id=\"temperature\" style=\"height: 400px; width:800px; border:1px solid #ccc; padding: 10px;\"></div>";
        var infoWindow = new BMap.InfoWindow(sContent);
        map.openInfoWindow(infoWindow, globalPoint);
        drawTemperature();
    }
</script>

<script type="text/javascript" language"javascript">
    // global variable for station information
    // change this when click on the map
    var globalPoint = new BMap.Point(116.4, 39.92);
    var globalIterator = 0;

    function getStation(event){
        // get the nearest station to this click event
        current_lng = event.point.lng;
        current_lat = event.point.lat;
        
        var which = -1;
        var dist = 1000000;
        for(var i=0; i<points[0].length; i++){
            var temp = Math.abs(current_lng - points[0][i].lng) + Math.abs(current_lat - points[0][i].lat);
            if(temp < dist){
                dist = temp;
                which = i;
            }
        }
        if(which == -1){
            which = 0;
            alert("can not find station");
        }
        globalPoint.lng = points[0][which].lng;
        globalPoint.lat = points[0][which].lat;
        globalIterator = which;
    }
</script>

<script>
    function setRightClickMenu(){
        var menu = new BMap.ContextMenu();
        var txtMenuItem = [
            {
                text:'放大',
                callback:function(){map.zoomIn()}
            },
            {
                text:'缩小',
                callback:function(){map.zoomOut()}
            },
            {
                text:"其他",
                callback:function(){alert("no function availiable")}
            }
        ];
        for(var i=0; i < txtMenuItem.length; i++){
            menu.addItem(new BMap.MenuItem(txtMenuItem[i].text,txtMenuItem[i].callback,100));
        }
        map.addContextMenu(menu);
    }
</script>

<script>
    function onLeftClick(event){
        current_x = event.point.lng;
        current_y = event.point.lat;
        var opts = {
            width : 150, // 信息窗口宽度
            height: 80, // 信息窗口高度
            title : "Weather Here" // 信息窗口标题
        }
        //弹出一个提示窗口
        var infoWindow = new BMap.InfoWindow("Current position:("+current_x+":"+current_y+")", opts);
        map.openInfoWindow(infoWindow, new BMap.Point(current_x,current_y));        // 打开信息窗口
    }
</script>

<script>
    function showMarker(){

        var sContent =
            "<div id=\"main\" style=\"height: 200px; width:400px; border:1px solid #ccc; padding: 10px;\">"
                + "<h1> 气象站点信息 </h1>"
                + "<form name = \"form1\" >"
                + "<p><input type = \"BUTTON\" value = \" 天气 \" onClick = \"weather()\"></p>"
                + "<p><input type = \"BUTTON\" value = \" 污染 \" onClick = \"pollution()\"></p>"
                + "<p><input type = \"BUTTON\" value = \" 温度 \" onClick = \"temperature()\"></p>"
                + "</form>"
             + "</div>";
        var infoWindow = new BMap.InfoWindow(sContent);

        for(var i=0; i<100; i++){
            var p = new BMap.Point(points[0][i].lng, points[0][i].lat);
            var station = new BMap.Marker(p);
            station.addEventListener("rightclick", function(e){          
                this.openInfoWindow(infoWindow);
                getStation(e);
                //drawStation();
                //document.getElementById('imgDemo').onload = function (){
                //    infoWindow.redraw();
                //}
            });
            map.addOverlay(station);
        }
        
    }
</script>

<script>
    function setGradient(){
        var gradient = {};
        var colors = document.querySelectorAll("input[type='color']");
        colors = [].slice.call(colors,0);
        colors.forEach(function(ele){
            gradient[ele.getAttribute("data-key")] = ele.value; 
        });
        heatmapOverlay.setOptions({"gradient":gradient});
    }
    //判断浏览区是否支持canvas
    function isSupportCanvas(){
        var elem = document.createElement('canvas');
        return !!(elem.getContext && elem.getContext('2d'));
    }
    function pixel_step(lng_s, lat_s)
    {
        var p1 = new BMap.Point(116.4, 39.92);
        var p2 = new BMap.Point(116.4 + lng_s, 39.92 + lat_s);
        var pix1 = map.pointToPixel(p1);
        var pix2 = map.pointToPixel(p2);
        var d_lng = pix2.x - pix1.x;
        var d_lat = pix2.y - pix1.y;
        return Math.sqrt(d_lng * d_lng + d_lat * d_lat);
    }


    function showHeatMap(){
        if(!isSupportCanvas()){
            alert('热力图目前只支持有canvas支持的浏览器,您所使用的浏览器不能使用热力图功能~')
        }

        map.addEventListener("zoomend", function(){   
            var pixel_radius = pixel_step(0.003, 0.003);
            heatmapOverlay.setOptions({"radius":pixel_radius})
        });

        heatmapOverlay = new BMapLib.HeatmapOverlay({"radius":40});
        map.addOverlay(heatmapOverlay);
        heatmapOverlay.setDataSet({data:points[0],max:100});
    }
</script>

<script type="text/javascript">    
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    var point = new BMap.Point(116.4, 39.92);
    map.centerAndZoom(point, 15);  // 初始化地图,设置中心点坐标和地图级别
    map.setCurrentCity("北京");          // 设置地图显示的城市

    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    map.addControl(new BMap.NavigationControl());    //缩放和移动控件
    map.addControl(new BMap.ScaleControl());        //显示比例尺

    map.addEventListener("click", function(e){onLeftClick(e);}  );      //鼠标左键事件
    setRightClickMenu();              //地图右键菜单
    showMarker();                       //显示标记点
    showHeatMap();                      //显示热力图
    
</script>
