<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xChUA44VGQGwLl7WxGmkNZU0"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>

	<!-- for time slider -->
    <script src="./static/lib/jquery/jquery-2.1.1.js"></script>
	<script src="./static/lib/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
	<link rel="stylesheet" href="./static/lib/jquery-ui-1.11.4.custom/jquery-ui.css">
	<script src="./static/lib/jQuery-ui-Slider-Pips-master/dist/jquery-ui-slider-pips.js"></script>
	<link rel="stylesheet" href="./static/lib/jQuery-ui-Slider-Pips-master/dist/jquery-ui-slider-pips.css">
	<!-- for time slider end -->
	
	
    <title>热力图功能示例</title>
    <style type="text/css">
		ul,li{list-style: none;margin:0;padding:0;float:left;}
ls
		html{height:100%}
		body{height:100%;margin:0px;padding:0px;font-family:"微软雅黑";}
		#container{height:500px;width:70%;}
		#r-result{width:100%;}
    </style>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://developer.baidu.com/map/custom/stylelist.js"></script>

	<style type="text/css">
		html,body{height:100%;margin:0px;padding:0px;font-family:"微软雅黑";font-size:14px;}
		#allmap{height:580px;width:80%;}
		.optionpanel{margin: 10px;}
		#r-result{width:100%;}
		#r-result p{margin:5px 0 0 10px;}
	</style>
	
	<!-- data js -->
    <script language='javascript' src="./static/js/data.js"></script> 
    <!-- echart js -->
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
	<!-- chart code -->
	<script src="ltr.js"></script>

    <script src="airmapinit.js"></script>
</head>
<body>
	<div id="r-result">
		<div class="optionpanel">
			<label>选择主题</label>
			<select id="stylelist" onchange="changeMapStyle(this.value)"></select>
			城市名: <input id="cityName" type="text" style="width:100px; margin-right:10px;" />
			<input type="button" value="查询" onclick="theLocation()" />
		</div>
	</div>   
	<div id="r-result">
		<input type="button"  onclick="openHeatmap();" value="显示热力图"/>
		<input type="button"  onclick="closeHeatmap();" value="关闭热力图"/>
	</div>
	<div id="allmap"></div>

	<!-- <div id="container"></div> -->
	<div class="slider" onmousewheel="showKey()" style = "width:60%"></div>
</body>
</html>



<script type="text/javascript">
 //初始化模板选择的下拉框
 var stylelist = document.getElementById('stylelist');
 init_mapstylelist(stylelist);

    var map = new BMap.Map("allmap");          // 创建地图实例

	map.addControl(new BMap.NavigationControl());               // 添加平移缩放控件
	map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件
	map.addControl(new BMap.OverviewMapControl());              //添加缩略地图控件
	map.addControl(new BMap.MapTypeControl());          //添加地图类型控件

    map.enableScrollWheelZoom(); // 允许滚轮缩放
	map.disable3DBuilding();

    var center_point = new BMap.Point(116.4, 39.92);
    map.centerAndZoom(center_point, 15);             // 初始化地图，设置中心点坐标和地图级别
	
	map.addEventListener("click", function(e){onLeftClick(e);}  );      //鼠标左键事件 ltr.js
    setRightClickMenu();              //地图右键菜单 ltr.js
    showMarker();                       //显示标记点 ltr.js
	var heatmapOverlay;

    showHeatMap();                      //显示热力图 ltr.js

	changeMapStyle('midnight')

    function setGradient(){
        var gradient = {};
        var colors = document.querySelectorAll("input[type='color']");
        colors = [].slice.call(colors,0);
        colors.forEach(function(ele){
            gradient[ele.getAttribute("data-key")] = ele.value; 
        });
        heatmapOverlay.setOptions({"gradient":gradient});
    }
    //判断浏览区是否支持canvas
    function isSupportCanvas(){
        var elem = document.createElement('canvas');
        return !!(elem.getContext && elem.getContext('2d'));
    }
    function pixel_step(lng_s, lat_s)
    {
        var p1 = new BMap.Point(116.4, 39.92);
        var p2 = new BMap.Point(116.4 + lng_s, 39.92 + lat_s);
        var pix1 = map.pointToPixel(p1);
        var pix2 = map.pointToPixel(p2);
        var d_lng = pix2.x - pix1.x;
        var d_lat = pix2.y - pix1.y;
        return Math.sqrt(d_lng * d_lng + d_lat * d_lat);
    }


    function showHeatMap(){
        if(!isSupportCanvas()){
            alert('热力图目前只支持有canvas支持的浏览器,您所使用的浏览器不能使用热力图功能~')
        }

        map.addEventListener("zoomend", function(){   
            var pixel_radius = pixel_step(0.003, 0.003);
            heatmapOverlay.setOptions({"radius":pixel_radius})
        });

        heatmapOverlay = new BMapLib.HeatmapOverlay({"radius":40});
        map.addOverlay(heatmapOverlay);
        heatmapOverlay.setDataSet({data:points[0],max:100});
    }

function changeMapStyle(style){
	map.setMapStyle({style:style});
	$('#desc').html(mapstyles[style].desc);
}

function theLocation(){
	var city = document.getElementById("cityName").value;
	alert(city);
	if(city != ""){
		map.centerAndZoom(city,11);      // 用城市名设置地图中心点
		var myGeo = new BMap.Geocoder();
		myGeo.getPoint(city, function(point){
			var marker = new BMap.Marker(point);  // 创建标注
			map.addOverlay(marker);               // 将标注添加到地图中
			marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
		});
	}
}
function openHeatmap(){
    heatmapOverlay.show();
}
function closeHeatmap(){
    heatmapOverlay.hide();
}

</script>

	
<script type="text/javascript">
    /********缩略图********/
    var mapType1 = new BMap.MapTypeControl({mapTypes: [BMAP_NORMAL_MAP,BMAP_HYBRID_MAP]});
    var mapType2 = new BMap.MapTypeControl({anchor: BMAP_ANCHOR_TOP_LEFT});

    var overView = new BMap.OverviewMapControl();
    var overViewOpen = new BMap.OverviewMapControl({isOpen:true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT});
    //添加地图类型和缩略图
    //function add_control(){
        map.addControl(mapType1);          //2D图，卫星图
        map.addControl(mapType2);          //左上角，默认地图控件
        map.setCurrentCity("北京");        //由于有3D图，需要设置城市哦
        map.addControl(overView);          //添加默认缩略地图控件
        map.addControl(overViewOpen);      //右下角，打开
    //}
    //移除地图类型和缩略图
    /*function delete_control(){
        map.removeControl(mapType1);   //移除2D图，卫星图
        map.removeControl(mapType2);
        map.removeControl(overView);
        map.removeControl(overViewOpen);
    }*/

</script>

<!--for time slider-->
<script>
		var dates_ms;  //date数组，各pip对应时间点
		var selected_ms; //当前pip对应时间点在dates中的下标
		var pips;   //pip总点数
		var hour_ms= 3600*1000;
		
		function mycallback(value)
		{
			selected_ms = dates_ms[value];
			heatmapOverlay.setDataSet({data:points[value],max:100});
		}
		
		function show(labels, selectedIndex)
		{	
			$(".slider").slider({
				min: 0,
				max: pips-1,
				step: 1,
				value: selectedIndex
			})
		    .slider("pips", {
		        callback: mycallback,
		        labels: labels,
		        rest: "label"
		    });
		}
		
		function scale(startTime_ms, endTime_ms, step_ms, selectTime_ms)
		{
			pips=0;
			dates_ms= new Array();  
			
			while (startTime_ms < endTime_ms)
			{
				dates_ms[pips]= startTime_ms;
				
				pips++;
				startTime_ms += step_ms;
			}
			
			
			var selectedIndex= -1;
			for (var i=0; i<pips; ++i)
				if (dates_ms[i] >= selectTime_ms)
				{
					selectedIndex = i;
					break ;
				}
			
			if (selectedIndex == -1)
				selectedIndex = pips-1;
			
			
			var labels= new Array();
			var labelstep= 5;             //
			for (var i=0; i<pips; i++)
			{
				if (i%5==0)
				{
					var date= new Date();
					date.setTime(dates_ms[i]);
					
					labels[i]= date.toTimeString().substring(0,5);
				}
				else
					labels[i]="";
			}
			
			show(labels, selectedIndex);
		}	
		
		function init()
		{
			var curTime= new Date();
			var curTime_ms= curTime.getTime();
			
			scale(curTime_ms-hour_ms*100, curTime_ms, hour_ms, curTime_ms);
		}
		
		init();
</script>
	
<script type="text/javascript">
	function handle(delta) 
	{
		scale(dates_ms[0]-delta*hour_ms, dates_ms[pips-1]+delta*hour_ms, hour_ms, selected_ms)
	}
	
	function showKey()
	{
	    var delta = 0;
	    if (event.wheelDelta) 
	    {
	        delta = event.wheelDelta/120; 
	        if (window.opera) 
	        	delta = -delta;
	    } 
	    else if (event.detail) 
	    {
	        delta = -event.detail/3;
	    }
	    
	    if (delta)
	        handle(delta);
	}
</script>
<!--for time slider end-->
